# Build folders
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio generated folders
.vs/
Generated\ Files/

# Visual C++ cache folder/files
ipch/
_NCrunch*/
packages/
*.suo
*.user
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.ncrunch*
*.nupkg

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/